<a href="https://colab.research.google.com/github/RevolutionaryAI/PWskills-Assignments/blob/main/6_python_assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
x=[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
res=sorted(x,key=lambda x:x[1],reverse=True)
res

[('Sachin Tendulkar', 34357),
 ('Ricky Ponting', 27483),
 ('Jack Kallis', 25534),
 ('Virat Kohli', 24936)]

In [12]:
'''Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using
lambda and map functions.'''
x=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
res=list(map(lambda c:c**2,x))
res

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [13]:
'''Q3. Write a python program to convert the given list of integers into a tuple of strings. Use map and
lambda functions
Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')'''
l=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
res=tuple(map(lambda x: str(x),l))
res

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [17]:
'''Q4. Write a python program using reduce function to compute the product of a list containing numbers
from 1 to 25.'''
from functools import reduce

res = reduce(lambda x, y: x*y, [i for i in range(1,25)])
print(res)

620448401733239439360000

In [22]:
'''Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the
filter function.
[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]'''
x=[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]
print(list(filter(lambda i : i%2==0 and i%3==0,x)))

[6, 60, 90, 120]

In [25]:
'''Q6. Write a python program to find palindromes in the given list of strings using lambda and filter
function.
['python', 'php', 'aba', 'radar', 'level']'''
x=['python', 'php', 'aba', 'radar', 'level']
list(filter(lambda i : i if i==i[::-1] else None,x))

['php', 'aba', 'radar', 'level']