In [3]:
#Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.
import pandas as pd
import numpy as npa
se=pd.Series([4,8,15,16,23,42])
se

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [6]:
#Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable, then print it.
pd.Series(np.arange(1,11))

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [12]:
#Q3. Create a Pandas DataFrame that contains the following data:
data = {'Name': ['Alice', 'Bob', 'Carol', 'David'],
        'Age': [25, 30, 22, 35],
        'City': ['New York', 'Los Angeles', 'Chicago', 'Houston']}
data=pd.DataFrame(data)

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.Series? Explain with an example.

A DataFrame in Pandas is a two-dimensional, size-mutable, and heterogeneous tabular data structure with labeled axes (rows and columns). It is similar to a spreadsheet or SQL table. It can store multiple Series-like objects as columns, making it suitable for storing structured data.

A Pandas Series, on the other hand, is a one-dimensional labeled array capable of holding any data type. It can be thought of as a single column in a DataFrame.

In [10]:
#Series
se=pd.Series(np.arange(1,6),name='Numbers')
print(se)
#Dataframe
df=pd.DataFrame({'UD':np.arange(101,106),'Numbers':se})
df

0    1
1    2
2    3
3    4
4    5
Name: Numbers, dtype: int64

    UD  Numbers
0  101        1
1  102        2
2  103        3
3  104        4
4  105        5

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

head() and tail(): To view the first or last few rows of a DataFrame.

describe(): To get summary statistics of numerical columns.

info(): To get information about the DataFrame's structure.

set_index(): To set a specific column as the index.

groupby(): To group data based on one or more columns.

sort_values(): To sort rows based on column values.

In [13]:
print(data.head())
print(data.tail())
print(data.info())
print(data.describe())
print(data.set_index())
print(data.groupby('City')['Age'].mean())
print(data.sort_values(by='Age',ascending=False))

    Name  Age         City
0  Alice   25     New York
1    Bob   30  Los Angeles
2  Carol   22      Chicago
3  David   35      Houston
    Name  Age         City
0  Alice   25     New York
1    Bob   30  Los Angeles
2  Carol   22      Chicago
3  David   35      Houston
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    4 non-null      object
 1   Age     4 non-null      int64
 2   City    4 non-null      object
dtypes: int64(1), object(2)
memory usage: 224.0+ bytes
None
             Age
count   4.000000
mean   28.000000
std     5.715476
min    22.000000
25%    24.250000
50%    27.500000
75%    31.250000
max    35.000000

TypeError: DataFrame.set_index() missing 1 required positional argument: 'keys'

Q6. Which of the following is mutable in nature: Series, DataFrame, Panel?

In Pandas, both Series and DataFrame are mutable in nature, which means you can modify their contents after creation. Panel, which was present in earlier versions of Pandas, has been removed in newer versions.

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [14]:
import pandas as pd

names = pd.Series(['Alice', 'Bob', 'Carol', 'David'])
ages = pd.Series([25, 30, 22, 35])
cities = pd.Series(['New York', 'Los Angeles', 'Chicago', 'Houston'])
df = pd.DataFrame({'Name': names, 'Age': ages, 'City': cities})

print(df)

    Name  Age         City
0  Alice   25     New York
1    Bob   30  Los Angeles
2  Carol   22      Chicago
3  David   35      Houston